.about {
    @include main-section-props-right;

    @include media-breakpoint-down(sm) {
        margin-top: -5.5rem;
    }

    @include media-breakpoint-down(md) {
        margin-bottom: 2rem;
    }

    .container {
        z-index: 400;
    }

    &__title {
        @include prefixing-values(width, fit-content);
        position: relative;
        color: map-get($colors, "tea-green");
        font-size: 3.3rem;
        text-transform: capitalize;
        font-weight: 600;

        &::first-letter {
            color: map-get($colors, "steel-teal");
            font-size: 3.4rem;
            text-transform: capitalize;
        }

        &::before {
            @include scale-line-left-right;
        }

        &:hover::before {
            @include prefixing(transform, scale(1));
            @include prefixing(transform-origin, left);
        }
    }

    &__img {
        width: 20rem;
        height: 20rem;
        padding: 1rem;
        position: relative;
        border: 0.6rem solid map-get($colors, "tea-green");
        border-radius: 50%;
        overflow: hidden;

        @include media-breakpoint-down(md) {
            width: 13rem;
            height: 13rem;
            margin-inline: auto !important;
        }

        @include media-breakpoint-down(lg) {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            @include prefixing(transform, scale(2.2));
        }
    }

    &__info {
        margin-block: 1.6rem;
        font-size: 1.7rem;
        text-transform: capitalize;

        @include media-breakpoint-down(sm) {
            margin-block: 0.6rem;
        }

        @include media-breakpoint-down(md) {
            font-size: 1.5rem;
        }

        &__label {
            color: map-get($colors, "steel-teal");
            font-weight: 600;
        }

        &__value {
            color: map-get($colors, "tea-green");
        }
    }
}
