.contact {
    @include main-section-props-right;
    color: map-get($colors, "tea-green");

    .container {
        z-index: 300;

        @include media-breakpoint-down(md) {
            margin-bottom: 5rem;
        }
    }

    input,
    textarea {
        width: 100%;
        padding: 1rem;
        border-radius: 1vmax;
        border: 0.05rem solid #c9e4ca98;
        outline: none;
        text-transform: capitalize;
        font-size: 1.3rem;
        font-weight: bold;
        color: map-get($colors, "tea-green");
        background-color: transparent;
        caret-color: map-get($colors, "tea-green");

        --color-placeholder: #c9e4ca52;

        &::-webkit-input-placeholder {
            text-transform: capitalize;
            color: var(--color-placeholder);
        }

        &::-moz-placeholder {
            text-transform: capitalize;
            color: var(--color-placeholder);
        }

        &:-ms-input-placeholder {
            text-transform: capitalize;
            color: var(--color-placeholder);
        }

        &::-ms-input-placeholder {
            text-transform: capitalize;
            color: var(--color-placeholder);
        }

        &::placeholder {
            text-transform: capitalize;
            color: var(--color-placeholder);
        }
    }

    textarea {
        height: 15rem;
        resize: none;
    }

    .my-btn {
        width: 14rem;
        padding: 0.5rem 1rem;
        margin-top: 0.5rem;
        border-radius: 1vmax;
        border: 0.05rem solid map-get($colors, "charcoal");
        background-color: map-get($colors, "charcoal");
        color: map-get($colors, "tea-green");
        font-size: 1.4rem;
        text-transform: capitalize;
    }
}
