.home {
    width: 100%;
    height: 100%;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    @include flex-center;
    background-color: transparent;
    @include setTransition(all, 0.4s, ease-in-out);

    .container {
        z-index: 300;

        .row {
            @include media-breakpoint-down(md) {
                margin-top: -4rem;
            }
        }
    }

    &__img {
        width: 28rem;
        height: 28rem;
        padding: 1rem;
        border: 0.6rem solid $light;
        border-radius: 35%;
        overflow: hidden;

        @include media-breakpoint-down(md) {
            width: 22rem;
            height: 22rem;
            margin-bottom: 1.1rem;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 35%;
            @include setTransition(transform);
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    &__info {
        color: $light;

        @include media-breakpoint-up(lg) {
            letter-spacing: 0.1rem;
        }

        &__title {
            width: 100%;
            padding: 0.3rem 1rem;
            border-radius: 1.2rem;
            text-align: center;
            font-size: 4.4rem;
        }

        &__desc {
            width: 100%;
            font-size: 1.8rem;

            @include media-breakpoint-down(lg) {
                margin-block: 2rem;
                font-size: 1.6rem;
            }
        }
    }
}
