.services {
    @include main-section-props-left;
    text-transform: capitalize;
    color: $light;

    .container {
        z-index: 300;
    }

    &__wrapper {
        width: 12rem;
        height: 12rem;
        margin: 1rem;
        position: relative;

        &__title {
            position: absolute;
            top: 50%;
            left: 50%;
            @include prefixing(transform, translate(-50%, -50%));
            font-size: 1.66rem;
            font-weight: 600;
            letter-spacing: 0.14rem;
            z-index: 999;
            color: $light;
            @include prefixing(user-select, none);
        }

        &__circle {
            width: 100%;
            height: 100%;
            position: relative;
            padding: 0.25rem;
            border-radius: 50%;
            background-clip: content-box;
            @include prefixing(animation, rotation-360 10s linear infinite);
        }

        &__icons {
            width: 100%;
            height: 100%;
            @include absoluteTopLeft50;
            @include prefixing(transform, translate(-50%, -50%));
            font-size: 2.5rem;
            z-index: -1;

            &__item {
                width: 6rem;
                height: 6rem;
                border-radius: 50%;
                @include flex-center;
                @include absoluteTopLeft50;
                @include prefixing(transform, translate(-50%, -50%));
                @include prefixing(transform-origin, center);
                background-color: $primary;
                cursor: pointer;
                @include transition(all, 0.5, ease-in-out, 0.4);

                &::before {
                    content: attr(data-service-name);
                    width: 12rem;
                    height: 3rem;
                    padding: 0.3rem 1rem;
                    border-radius: 0.7rem;
                    @include flex-center;
                    position: absolute;
                    top: -40%;
                    left: -60%;
                    text-align: center;
                    font-size: 1.3rem;
                    font-weight: 600;
                    letter-spacing: 0.05rem;
                    @include fade("hide");
                    background-color: $primary;
                    @include transition(all, 0.3, ease-in-out, 0);
                }

                &:hover::before {
                    top: -80%;
                    @include fade("show");
                }

                &.deg-45 {
                    @include prefixing(transform, translate(-17rem, -9rem) scale(1));
                }

                &.deg-90 {
                    @include prefixing(transform, translate(-3rem, -17.5rem) scale(1));
                }

                &.deg-135 {
                    @include prefixing(transform, translate(12rem, -9rem) scale(1));
                }

                &.deg-180 {
                    @include prefixing(transform, translate(12rem, 6rem) scale(1));
                }

                &.deg-230 {
                    @include prefixing(transform, translate(-2rem, 12rem) scale(1));
                }

                &.deg-270 {
                    @include prefixing(transform, translate(-16rem, 5rem) scale(1));
                }
            }
        }
    }

    .rounding {
        background-color: $primary;
        border: 0.35rem dashed $primary;
    }
}

@-webkit-keyframes rotation-360 {
    100% {
        @include prefixing(transform, rotateZ(360deg));
    }
}

@keyframes rotation-360 {
    100% {
        @include prefixing(transform, rotateZ(360deg));
    }
}
