.main {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("../../assets/images/backgrounds/coding.jpg");
    @include reset-bg;
    overflow-x: hidden;
    @include set-transition(background-image, 1s, ease-in, 0s);

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000ea;
        z-index: 200;
    }
}
