@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";

.list {
    width: 80%;
    min-height: 5rem;
    padding: 0.7rem 1.4rem !important;
    border-radius: 1.4rem;
    @include flex-evenly-horizontal;
    @include flex-center-vertical;
    position: fixed;
    bottom: 4rem;
    left: 50%;
    @include prefixing(transform, translateX(-50%));
    font-size: 2.2rem;
    color: $light;
    background-color: $primary;
    z-index: 999999999999;

    @include media-breakpoint-down(md) {
        width: 93%;
        bottom: 2.4rem;
        padding: 0.7rem 0.2rem !important;
        font-size: 2.1rem;
    }

    @include media-breakpoint-up(lg) {
        width: 64%;
    }

    .list-item {
        position: relative;
        padding: 0.3rem;
        cursor: pointer;

        &::before {
            content: attr(data-name-sec);
            width: 10rem;
            border-radius: 1.4rem;
            padding: 0.6rem 0.8rem;
            position: absolute;
            top: -100%;
            left: 50%;
            @include prefixing(transform, translateX(-50%));
            color: $light;
            background-color: $primary;
            text-align: center;
            text-transform: capitalize;
            font-size: 1.6rem;
            @include prefixing(user-select, none);
            @include fade("hide");
            @include set-transition(all, 0.2s, ease-in, 0s);

            @include media-breakpoint-down(lg) {
                content: none;
            }
        }

        &:hover::before {
            top: -145%;
            @include fade("show");
        }
    }
}
