ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none;
}

a {
    text-decoration: none;

    &:focus,
    &:visited,
    &:active {
        text-decoration: none;
    }
}
