body {
    font-size: $main-font-size;
    font-family: $main-font-family;
}

::-moz-selection {
    background-color: map-get($colors, "eton-blue");
    color: map-get($colors, "charcoal");
}

::selection {
    background-color: map-get($colors, "eton-blue");
    color: map-get($colors, "charcoal");
}

ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none;
}

a {
    text-decoration: none !important;

    &:focus,
    &:visited,
    &:active {
        text-decoration: none !important;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
    @include prefixing(object-fit, cover);
}

section {
    overflow-x: hidden;
}
