// * Main colors which used in the site.
$tea-green: #c9e4ca;
$eton-blue: #87bba2;
$steel-teal: #55828b;
$deep-space-sparkle: #3b6064;
$charcoal: #364958;
$dark-green: #0f4c5c;

$colors: (
    "tea-green": $tea-green,
    "eton-blue": $eton-blue,
    "steel-teal": $steel-teal,
    "deep-space-sparkle": $deep-space-sparkle,
    "charcoal": $charcoal,
    "dark-green": $dark-green,
);
