@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
}

@mixin flex-center-vertical {
    display: flex;
    align-items: center;
}

@mixin flex-center-horizontal {
    display: flex;
    justify-content: center;
}

@mixin flex-evenly-horizontal {
    display: flex;
    justify-content: space-evenly;
    @include flex-center-vertical;
}

@mixin cover-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin fade($type) {
    @if $type== "hide" {
        visibility: hidden;
        opacity: 0;
    } @else if $type== "show" {
        visibility: visible;
        opacity: 1;
    }
}
